version: "3.3"

services:
  app:
    build:
      context: .
    hostname: docker
    environment:
      BACKUP_CRON: "* * * * *"
      RESTIC_REPOSITORY: ${RESTIC_REPOSITORY}
      RESTIC_PASSWORD: ${RESTIC_PASSWORD}
      RESTIC_BACKUP_SOURCES: ${RESTIC_BACKUP_SOURCES}
      RESTIC_BACKUP_TAGS: docker-volumes
      RESTIC_FORGET_ARGS: --prune --keep-last 14 --keep-daily 1
      STDIN_COMMAND: ${STDIN_COMMAND}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    volumes:
      - /var/lib/docker/volumes:/mnt/volumes:ro
